body{

  width: 100%;
  margin: auto;
  font-family: "Sabon LT Std";

  h1, p{

    font-size: 5vw;
  }

    main{
          div{
              background-color: lightskyblue;
              padding: 20px;
              margin: 20px;
          }
      #boxx{
        background-color: lightskyblue;
        text-align: center;
        border-style: 3px black solid ;
      }
    }
}


@media only screen and  (max-width: 500px) {
  body {
    background-color: red;
    #medium, #big{
      visibility: hidden;

    }
    .rearrange{
      display: flex;
      flex-direction: column;
    }
  }
}

  @media only screen and (min-width: 500px) and (max-width: 768px) {
  body {
    background-color: green;

    #small, #big {
      visibility: hidden;
    }

    .rearrange{
      display: flex;
      flex-wrap: wrap;


    }
    .box11 {
      flex-basis: 59vw ;
      border-style: solid;


    }

    .box22{
      flex-basis: 39vw;
      border-style: solid;

    }

    .box33{
      flex-basis: 99vw;
      border-style: solid;

    }
  }
}

@media only screen and (min-width: 768px){
  body {
    background-color: blue;

    #small, #medium {
      visibility: hidden;
    }

    .rearrange{
      display: flex;
      justify-content: space-evenly;
    }
    #boxx{
      width: 50%;
    }
  }
}

