body{

  width: 80%;
  margin: auto;
  font-family: "Sabon LT Std";

  h1, p{
    font-size: 5vw;
  }

    main{
          div{
              background-color: lightskyblue;
              padding: 20px;
              margin: 20px;
          }
    }
}


@media only screen and  (max-width: 300px) {
  body {
    background-color: red;
    #medium, #big{
      visibility: hidden;

    }
    .rearrange{
      display: flex;
      flex-direction: column;
    }
  }
}

  @media only screen and (min-width: 300px) and (max-width: 768px) {
  body {
    background-color: green;

    #small, #big {
      visibility: hidden;
    }

    .rearrange{

    }
    .box11 {
      max-width: 66vw ;

    }

    .box22{
      max-width: 33vw;
    }

    .box33{
      max-width: 100vw;
    }
  }
}

@media only screen and (min-width: 768px){
  body {
    background-color: blue;

    #small, #medium {
      visibility: hidden;
    }

    .rearrange{
      display: flex;
      justify-content: space-evenly;
    }
    #boxx{
      width: 50%;
    }
  }
}

